body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

@keyframes fade {
    0% {
    	opacity: 0;
    	transform: translateY(0);
    }
    100% {
    	opacity: 1;
    	transform: translateY(-5px);
    }
}

@-webkit-keyframes fade {
    0% {
    	opacity: 0;
    	-webkit-transform: translateY(0);
    }
    100% {
    	opacity: 1;
    	-webkit-transform: translateY(-5px);
    }
}

a {
	text-decoration: none;
	color: #000;
}

header {
	position: absolute;
	top: 30px;
	left: 45px;
	font-weight: 700;
	opacity: 0;
	animation: fade 1s .4s 1 forwards;
	-webkit-animation: fade 1s .4s 1 forwards;
	display: inline-block;
}

.links {
	padding: 0 0 0 15px;
	position: absolute;
	top: 80px;
	left: 45px;
	list-style: none;
	font-weight: 700;
}

.link {
	opacity: 0;
	line-height: 40px;
}

.github {
	animation: fade 1s .5s 1 forwards;
	-webkit-animation: fade 1s .5s 1 forwards;
	color: #6cc644;
}

.tumblr {
	animation: fade 1s .6s 1 forwards;
	-webkit-animation: fade 1s .6s 1 forwards;
	color: #35465c;
}

.soundcloud {
	animation: fade 1s .7s 1 forwards;
	-webkit-animation: fade 1s .7s 1 forwards;
	color: #f30;
}

.twitter {
	animation: fade 1s .8s 1 forwards;
	-webkit-animation: fade 1s .8s 1 forwards;
	color: #55acee;
}









